@model List<Mascot>

@{
    ViewBag.Title = string.Format("Champions ({0})", DateTime.Now.Year);
}

<h1>Champions</h1>

@foreach (var mascot in Model)
{
    <div class="mascot-headshot">
        <div style="background-image: url('//mascots-imgs.azurewebsites.net/Content/Images/MascotLarge/@(mascot.Slug).png');">
            <img src="//mascots-imgs.azurewebsites.net/Content/Images/Team/@(mascot.Team.Slug).png" />
        </div>
        <h5 style="float:right;">@mascot.Team.League.Name League</h5>

        <h3>@mascot.Name</h3>
        <h4>@mascot.Team.Name</h4>
    </div>
}

@section scripts
{
    <script>
        console.log('Best of luck next year competitors!');
    </script>
}