@{
    ViewBag.Title = "Home Page";
}

<div class="column">
    <img src="/content/images/welcome.png" alt="" />

    <p>
        Vel, dolor munere tamquam melno, laudem equidem abhorreant eam incu vis unum gubergren. Vim ea tollit elaboraret contentiones, ne eruditi indoctum his, vim at facete accusam voluptatibus. Ne vix solet iriure meliore, te pri laoreet reprehendunt. Mazim dolorem contentiones ius et.
    </p>

    <h1>Congratulations LouSeal!</h1>
    
    <img src="/Content/Images/MascotLarge/winner.png"/>
</div>

<div class="column">
    <h1>MiLB Leagues</h1>

    <img src="/Content/Images/League/appalachian.png" />
    <img src="/Content/Images/League/california.png" />
    <img src="/Content/Images/League/carolina.png" />
    <img src="/Content/Images/League/eastern.png" />
    <img src="/Content/Images/League/florida-state.png" />
</div>