@{
    ViewBag.Title = "Home Page";
}

<div class="column">
    <img src="/content/images/welcome.png" alt="" />
    
    <p>
        Join us in congratulating all of the winners of 2013's Mascot Mania contest!
    </p>
    <p>
        All 160 mascots competed in grueling game of hilarity, including the dunk tank toss, potato sak relay and dodge-pie. Winners from each league, with one overall winner: the International League's own LouSeal rooting on the Columbus Clippers.
    </p>
    <p>
        <a href="/home/champions">See All the Winners</a>
    </p>

    <h1>Congratulations LouSeal!</h1>

    <img src="/Content/Images/MascotLarge/winner.png" />
</div>

<div class="column" style="text-align: center;">
    <h1>MiLB Leagues</h1>

    <a href="/home/league/all"><img src="/Content/Images/League/milb.png"></a>

    <a href="/home/league/appalachian"><img src="/Content/Images/League/appalachian.png" style="float: left;"></a>
    <a href="/home/league/california"><img src="/Content/Images/League/california.png" style="float: right;"></a>

    <a href="/home/league/carolina"><img src="/Content/Images/League/carolina.png" style="float: left;"></a>
    <a href="/home/league/eastern"><img src="/Content/Images/League/eastern.png"></a>
    <a href="/home/league/florida-state"><img src="/Content/Images/League/florida-state.png" style="float: right;"></a>

    <a href="/home/league/international"><img src="/Content/Images/League/international.png" style="float: left;"></a>
    <a href="/home/league/midwest"><img src="/Content/Images/League/midwest.png"></a>
    <a href="/home/league/new-york-penn"><img src="/Content/Images/League/new-york-penn.png" style="float: right;"></a>
    
    <a href="/home/league/pacific-coast"><img src="/Content/Images/League/pacific-coast.png" style="float: left;"></a>
    <a href="/home/league/northwest"><img src="/Content/Images/League/northwest.png" style="float: right;"></a>

    <a href="/home/league/south-atlantic"><img src="/Content/Images/League/south-atlantic.png" style="float: left;"></a>
    <a href="/home/league/southern"><img src="/Content/Images/League/southern.png" style="float: right;"></a>

    <a href="/home/league/pioneer"><img src="/Content/Images/League/pioneer.png" style="float: left;"></a>
    <a href="/home/league/texas"><img src="/Content/Images/League/texas.png" style="float: right;"></a>
</div>

@section meta
{
    <link rel="prerender" href="/home/champions">
}