@model List<Mascot>

@{
    ViewBag.Title = Model.First().Team.League.Name;
}

<h1 data-slug="@Model.First().Team.League.Slug">@Model.First().Team.League.Name</h1>

@foreach (var mascot in Model)
{
    <div class="mascot-card">
        <div style="background-image: url('/Content/Images/MascotSmall/@mascot.Team.League.Slug/@(mascot.Slug).png');">
            <img src="/Content/Images/Team/@(mascot.Team.Slug).png" />
        </div>
        <h3>@mascot.Name</h3>
        <h4>@mascot.Team.Name</h4>
    </div>
}