@model Mascot

@{
    ViewBag.Title = Model.Name;
}

<script src="//platform.twitter.com/widgets.js"></script>
<script>
    performance.mark('load_twitter_script_end');

    twttr.ready(function (twttr) {
        performance.mark('twitter_ready');
        twttr.events.bind('rendered', function (event) {
            performance.mark('twitter_rendered');
            performance.measure('twitter_render_time', 'twitter_ready', 'twitter_rendered');
        });
    });
</script>

<h1>@Model.Name's Tweets</h1>

<img class="mascot-large" src="/Content/Images/MascotLarge/@(Model.Slug).png"/>

<div class="twitter-widget">
    <a class="twitter-timeline" href="https://twitter.com/@Model.TwitterHandle" data-widget-id="524597815054323712" data-screen-name="@Model.TwitterHandle" data-chrome="noheader nofooter noborders transparent" data-link-color="#018E0E">Tweets by @@@Model.TwitterHandle</a>
</div>

<h2>More Tweets <a href="http://www.twitter.com/@Model.TwitterHandle">@@@Model.TwitterHandle</a></h2>