<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascots of MiLB - @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="header_center">
                <div class="menu">
                    <ul>
                        <li class="m1"><a href="#"><span>Home</span></a></li>
                        <li class="m2"><a href="#"><span>About Us</span></a></li>
                        <li class="m3"><a href="#"><span>Events &amp; News</span></a></li>
                        <li class="m4"><a href="#"><span>Our Players</span></a></li>
                        <li class="m5"><a href="#"><span>Championships</span></a></li>
                        <li class="m6"><a href="#"><span>Coaches Corner</span></a></li>
                    </ul>
                </div>
                <div class="line_logo">
                    <div class="logo">&nbsp;</div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="content">
                <div class="content">
                    <div class="content_left">
                        <img src="/content/images/welcome.jpg" alt="" />

                        <div class="div1_left">
                            Vel, dolor munere tamquam melno, laudem equidem abhorreant eam incu vis unum gubergren. Vim ea tollit elaboraret contentiones, ne eruditi indoctum his, vim at facete accusam voluptatibus. Ne vix solet iriure meliore, te pri laoreet reprehendunt. Mazim dolorem contentiones ius et.
                        </div>
                        <div class="div2_left">
                            <div class="div1_ball">
                                <img src="/content/images/ball.jpg" alt="" />
                            </div>
                            <div class="div2_ball">
                                <h1>News &amp; Events</h1>
                            </div>
                            <div class="clear">
                                &nbsp;
                            </div>
                        </div>
                        <img src="/content/images/punkte.gif" alt="" />
                        <div class="div3_left">
                            <div class="div1">
                                <img src="/content/images/img1.jpg" alt="" />
                            </div>
                            <div class="div2">
                                <b>Vel, dolor munere tamquam melno,</b> laudem edem abhorreant eam incu vis unum gubergren. <a href="#">Vim ea tollit elaboraret contentiones, ne eruditi indoctum his, vim at facete accusam voluptatibus.</a> Ne vix solet iriure meliorepri laoreet reprehendunt azim dolorem contentio.
                            </div>
                            <div class="clear">
                                &nbsp;
                            </div>
                        </div>
                        <div class="div4_left">
                            <img src="/content/images/punkte.gif" alt="" />
                        </div>
                        <div class="div3_left">
                            <div class="div1">
                                <img src="/content/images/img2.jpg" alt="" />
                            </div>
                            <div class="div2">
                                <b>Laudem edem abhorreant eam incu</b><br />
                                Vis unum gubergren. Vim ea tollit elaboraret contentiones, ne eruditi indoctum his, vim at facete accusam voluptati-<br />bus. Ne vix solet iriure meliore pri laoreet reprehendunt azim dolorem contentio.
                            </div>
                            <div class="clear">
                                &nbsp;
                            </div>
                        </div>
                        <div class="div4_left">
                            <img src="/content/images/punkte.gif" alt="" />
                        </div>
                        <div class="div3_left">
                            <div class="div1">
                                <img src="/content/images/img3.jpg" alt="" />
                            </div>
                            <div class="div2">
                                <b>Laudem edem abhorreant eam incu</b><br />
                                Vis unum gubergren. Vim ea tollit elaboraret contentiones, ne eruditi indoctum his, vim at facete accusam voluptati-<br />bus. Ne vix solet iriure meliore pri laoreet reprehendunt azim dolorem contentio.
                            </div>
                            <div class="clear">
                                &nbsp;
                            </div>
                        </div>
                        <div class="div4_left">
                            <img src="/content/images/punkte.gif" alt="" />
                        </div>
                    </div>
                    <div class="content_right">
                        <div class="div_right">
                            <div class="div1_ball">
                                <img src="/content/images/ball.jpg" alt="" />
                            </div>
                            <div class="div2_ball">
                                <h1>About Us</h1>
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        <img src="/content/images/punkte2.gif" alt="" />
                        <div class="div1_right">
                            <div class="div_left">
                                <img src="/content/images/img4.jpg" alt="Baseball" />
                            </div>
                            <div class="div_right1">
                                <b>Lorem ipsum paulo omittam</b>
                                <p>Quidem abhorreant eam incu vis unum gurgren. Vim ea tollit elaboraret contentiones, ne eruditi indoctum his, vim at facete ausam voluptatibus. Ne vix solet iriure meliore, te pri laoreet reprehendunt. Mazim dolorem contentiones is et. Quaeque admodum reprehendunt sed ex, et dolorem pertinax imperdiet vim.</p>
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        <div class="div2_right">
                            Lorem ipsum quodsi impedit repudiandae eu duo, dicant electram vim ea. Eu summo legere graece duo, pri putant quodsi in. Sit agam blandit ad, impedit sapientem quaerendum ad mea, per ne quot erant zzril. Utinam persius ad vel, ea nonummy antiopam constituto duo.
                        </div>
                        <div class="div3_right">
                            Id suas noluisse maluisset has, vel eu veri latine feugait. Eu tritani verterem duo. Ei primis epicuri nominati nec, nam dolorum efficiantur ei, aperiam consectetuer necessitatibus eos ea. Id idque vituperata qui, tota alterum deserunt eam an, et sed nemore eirmod menandri. Ei quaestio scribentur disputando mei.
                        </div>
                        <div class="div4_right">
                            Reque efficiendi nam cu. Pericula reprehendunt quo ea, usu ea prompta senserit erroribus, homero tritani eloquentiam ea ius. Probo invenire at mei,
                        </div>
                        <div class="div5_right">
                            <a href="#"><img src="/content/images/more.gif" alt="" /></a>
                        </div>
                        <div class="div6_right">
                            <div class="div1_ball">
                                <img src="/content/images/ball.jpg" alt="" />
                            </div>
                            <div class="div2_ball">
                                <h1>Championships</h1>
                            </div>
                            <div class="clear">
                                &nbsp;
                            </div>
                        </div>
                        <img src="/content/images/punkte2.gif" alt="" />
                        <div class="div7_right">
                            <div class="left">
                                <b>Pee-Wee Boys (13 &amp; under):</b><br />
                                August 21-24, 2008<br />
                                Vaughan, ON
                            </div>
                            <div class="right">
                                <b>Senior Men (open age group):</b><br />
                                August 21-24, 2008<br />
                                Brandon, MB
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        <div class="div8_right">
                            <div class="web1">
                                <a href="#"><img src="/content/images/website.gif" alt="" /></a>
                            </div>
                            <div class="web2">
                                <a href="#"><img src="/content/images/website.gif" alt="" /></a>
                            </div>
                            <div class="clear">&nbsp;</div>
                            <div class="div8_right">
                                <div class="web1">
                                    <div>&nbsp;</div>
                                </div>
                                <div class="web2">
                                    <div>&nbsp;</div>
                                </div>
                                <div class="clear">&nbsp;</div>
                            </div>

                        </div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="footer">
        <div class="footer_centr">
            <div class="footer_ball"><div class="ball">&nbsp;</div></div>
            <div class="footer_text">
                Full Stack Web Performance © @DateTime.Now.Year. All Rights Reserved.
            </div>
        </div>
    </div>

    <!-- @RenderBody() -->
</body>
</html>
