USE [master]
GO
/****** Object:  Database [Mascots]    Script Date: 2/9/2014 6:52:21 PM ******/
CREATE DATABASE [Mascots]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mascots', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Mascots.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Mascots_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Mascots_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mascots].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mascots]
GO
/****** Object:  Table [dbo].[Leagues]    Script Date: 2/9/2014 6:52:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Leagues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](15) NOT NULL,
	[Slug] [varchar](50) NOT NULL,
 CONSTRAINT [PK_League] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mascots]    Script Date: 2/9/2014 6:52:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mascots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeamId] [int] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Slug] [varchar](30) NOT NULL,
	[IsChampion] [bit] NOT NULL,
	[TwitterHandle] [varchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 2/9/2014 6:52:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LeagueId] [int] NOT NULL,
	[Name] [varchar](25) NOT NULL,
	[Slug] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Leagues] ON 

INSERT [dbo].[Leagues] ([Id], [Name], [Slug]) VALUES (1, N'Appalachian', N'appalachian    ')
INSERT [dbo].[Leagues] ([Id], [Name], [Slug]) VALUES (2, N'California', N'california     ')
INSERT [dbo].[Leagues] ([Id], [Name], [Slug]) VALUES (3, N'Carolina', N'carolina       ')
SET IDENTITY_INSERT [dbo].[Leagues] OFF
SET IDENTITY_INSERT [dbo].[Mascots] ON 

INSERT [dbo].[Mascots] ([Id], [TeamId], [Name], [Slug], [IsChampion], [TwitterHandle]) VALUES (1, 1, N'Celery', N'celery', 0, N'BisonsCelery')
INSERT [dbo].[Mascots] ([Id], [TeamId], [Name], [Slug], [IsChampion], [TwitterHandle]) VALUES (2, 2, N'Homer the Dragon', N'homer-the-dragon', 0, NULL)
INSERT [dbo].[Mascots] ([Id], [TeamId], [Name], [Slug], [IsChampion], [TwitterHandle]) VALUES (3, 3, N'LouSeal', N'louseal', 1, N'ClippersLouSeal')
GO
SET IDENTITY_INSERT [dbo].[Mascots] OFF
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([Id], [LeagueId], [Name], [Slug]) VALUES (1, 6, N'Buffalo Bisons', N'buffalo-bisons')
INSERT [dbo].[Teams] ([Id], [LeagueId], [Name], [Slug]) VALUES (2, 6, N'Charlotte Knights', N'charlotte-knights')
INSERT [dbo].[Teams] ([Id], [LeagueId], [Name], [Slug]) VALUES (3, 6, N'Columbus Clippers', N'columbus-clippers')
GO
SET IDENTITY_INSERT [dbo].[Teams] OFF
ALTER TABLE [dbo].[Mascots]  WITH CHECK ADD  CONSTRAINT [FK_Mascot_Team] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Mascots] CHECK CONSTRAINT [FK_Mascot_Team]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Team_League] FOREIGN KEY([LeagueId])
REFERENCES [dbo].[Leagues] ([Id])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Team_League]
GO
USE [master]
GO
