/*
This is an example of how to use the image sprite in your own CSS files
*/
.baby-jay {
/* You may have to set 'display: block' */
	width: 150px;
	height: 190px;
	background: url('//mascots-imgs.azurewebsites.net/Content/Images/MascotSmall/Appalachian/Appalachian.png') 0 0;
}
.bingo {
/* You may have to set 'display: block' */
	width: 150px;
	height: 190px;
	background: url('//mascots-imgs.azurewebsites.net/Content/Images/MascotSmall/Appalachian/Appalachian.png') 0 -190px;
}
.blooper {
/* You may have to set 'display: block' */
	width: 150px;
	height: 190px;
	background: url('//mascots-imgs.azurewebsites.net/Content/Images/MascotSmall/Appalachian/Appalachian.png') 0 -380px;
}
.dingbat {
/* You may have to set 'display: block' */
	width: 150px;
	height: 190px;
	background: url('//mascots-imgs.azurewebsites.net/Content/Images/MascotSmall/Appalachian/Appalachian.png') 0 -570px;
}
.jay-cee {
/* You may have to set 'display: block' */
	width: 150px;
	height: 190px;
	background: url('//mascots-imgs.azurewebsites.net/Content/Images/MascotSmall/Appalachian/Appalachian.png') 0 -760px;
}
.rookie {
/* You may have to set 'display: block' */
	width: 150px;
	height: 190px;
	background: url('//mascots-imgs.azurewebsites.net/Content/Images/MascotSmall/Appalachian/Appalachian.png') 0 -950px;
}
.roscoe-the-p-ray-rooster {
/* You may have to set 'display: block' */
	width: 150px;
	height: 190px;
	background: url('//mascots-imgs.azurewebsites.net/Content/Images/MascotSmall/Appalachian/Appalachian.png') 0 -1140px;
}
.slider {
/* You may have to set 'display: block' */
	width: 150px;
	height: 190px;
	background: url('//mascots-imgs.azurewebsites.net/Content/Images/MascotSmall/Appalachian/Appalachian.png') 0 -1330px;
}
.slyder {
/* You may have to set 'display: block' */
	width: 150px;
	height: 190px;
	background: url('//mascots-imgs.azurewebsites.net/Content/Images/MascotSmall/Appalachian/Appalachian.png') 0 -1520px;
}
.tennessee-tess {
/* You may have to set 'display: block' */
	width: 150px;
	height: 190px;
	background: url('//mascots-imgs.azurewebsites.net/Content/Images/MascotSmall/Appalachian/Appalachian.png') 0 -1710px;
}
