* {
	padding: 0;
	margin: 0;
}
html {
	height:100%;
}
img {
	border: 0;
}
body {
	font-family:Arial, Tahoma, Verdana;
	font-size:10px;
	height:100%;
}
h1 {
	font-family:Arial, Tahoma, Verdana;
	font-size:16px;
	margin: 1em 1em 1em 0;
    background-image: url('/content/images/ball.jpg'); /* Convert to DataUri at http://dataurl.net/? */
	background-repeat: no-repeat;
	padding: 0 0 0.5em 2em;
	border-bottom: thin dashed gray;
}
p {
    margin-top: 1em;
}
.clear {
	clear:both;
	font-size:0;
	line-height:0;
	height:0;
}
#container {
	width: 100%;
	min-height:100%;
	height: auto !important;
	height: 100%;
	background-image: url('/content/images/content_bg.jpg');
}
header {
	height: 180px;
	width: 100%;
	background: url('/content/images/head_bg.jpg');
    position: relative;
    z-index: 5;
}
#header_center {
	width:990px;
	margin:0 auto;
	height: 223px;
}
.line_logo {
	padding-top:20px;
}
.logo {
	margin-left:97px;
	width:814px;
	height:155px;
    background: url('/content/images/logo.png') no-repeat;
}
#content {
	width: 100%;
	height: auto;
}
.content {
	font-family:Tahoma, Verdana;
	font-size:11px;
	width: 800px;
	padding-bottom:40px;
	margin:0 auto;
}
.column {
	width:50%;
	float:left;
}
footer {
	width: 100%;
	margin:-54px auto 0;
	height: 54px;
	background-image: url('/content/images/footer_bg.jpg');
}
.footer_center {
	width:990px;
	margin:0 auto;
	height: 53px;
}
.footer_ball {
	width:52px;
	padding-left:682px;
	padding-top:0;
}
.ball {
	width:52px;
	height:24px;
    background: url('/content/images/ball_footer.png') no-repeat;
}
.footer_text {
	width:358px;
	margin:0 auto;
	padding-top:10px;
	color:#fffefe;
	font-size:11px;
}
.league-badge {
    position: fixed; 
    top:1em; 
    left: 240px; 
    //-webkit-transform: translateZ(0);
}
.mascot-card, .mascot-headshot {
    display: inline-block; 
    margin: 1em; 
    text-align: left;
}
.mascot-card div, .mascot-headshot div {
    position:relative;
    -webkit-box-shadow: 0px 0px 10px 0px #000;
    -webkit-border-radius: 5px;
}
.mascot-card div {
    width: 150px; 
    height: 190px; 
}
.mascot-headshot div {
    width: 375px; 
    height: 450px; 
}
.mascot-card img, .mascot-headshot img {
    position: absolute; 
    bottom: 0; 
    right:0;
}
.mascot-card h3, .mascot-card h4, .mascot-headshot h3, .mascot-headshoth4 {
    text-shadow: 1px 1px 3px #FFF;
}